<!-- Barra de Navegação -->
    <header class="barra-superior">
      <button class="menu-hamburguer">☰</button>

      <div class="logo">HAVAN</div>
      <!-- subistituir depois pela img -->

      <input type="text" class="busca" placeholder="Buscar na Havan" />

      <div class="carrinho-usuario">
        <span>Olá, entre na conta ou cadastre-se</span>
        <span class="carrinho">🛒 </span>
      </div>
    </header>

    <!-- OVERLAY -->
    <div class="efeito"></div>

    <!-- MENU LATERAL -->
    <aside class="menu-lateral">
      <div class="lado-superior-menu">
        <strong>HAVAN</strong>
        <button>✕</button>
      </div>

      <ul class="links-lados-menu">
        <li>Lista de Desejos</li>
        <li>Minhas Compras</li>
      </ul>

      <h4>Categorias</h4>

      <ul class="categorias">
        <li>Ofertas</li>
        <li>Celulares e Smartphones →</li>
        <li>Eletro →</li>
        <li>Eletrônicos →</li>
        <li>Utilidades Domésticas →</li>
        <li>Cama, Mesa e Banho →</li>
        <li>Moda →</li>
        <li>Beleza e Perfumaria →</li>
        <li>Decoração →</li>
      </ul>
    </aside>