<!-- MODAL OFERTAS (ESTILO HAVAN) -->
<div class="modal-overlay" id="modal-ofertas">
  <div class="modal-havan">

    <!-- Header fixo -->
    <div class="modal-header">
      <h2 id="titulo-modal-oferta">Ofertas Imperdíveis pra Você!</h2>
      <button class="modal-close">x</button>
    </div>

    <!-- Conteúdo com scroll -->
    <div class="modal-body">
      <div class="oferta-conteudo">
        <div class="oferta-conteiner oferta-modal">
          <!-- COPIE E COLE AQUI OS MESMOS CARDS QUE VOCÊ JÁ TEM -->
           <div> 
                    <img class="oferta-img" src="assets/images/pages/ofertas/oferta_imperdivel_01.webp" alt="starlink">
                    <span class="oferta-desconto">-45%</span>
                    <p class="oferta-card-titulo">Kit Starlink Mini Antena Internet Via Satélite - Braco</p>
                    <p class="oferta-avaliacao">⭐⭐⭐⭐⭐ <span>(35)</span></p>
                    <p class="oferta-preco-antigo">R$ 2.199,99</p>
                    <p class="oferta-preco-novo">R$ 1.199,90</p>
                    <p class="oferta-preco-parcelado">10x de R$ 119,99</p>
                </div>

                <div>
                    <img class="oferta-img" src="assets/images/pages/ofertas/oferta_imperdivel_02.webp" alt="playstation-5">
                    <span class="oferta-desconto">-30%</span>
                    <p class="oferta-card-titulo">Console Playstation 5 Sony Digital 825Gb</p>
                    <p class="oferta-avaliacao">⭐⭐⭐⭐⭐ <span>(59)</span></p>
                    <p class="oferta-preco-antigo">R$ 4.299,90</p>
                    <p class="oferta-preco-novo">R$ 2.999,90</p>
                    <p class="oferta-preco-parcelado">10x de R$ 299,99</p>
                </div>
                
                <div>
                    <img class="oferta-img" src="assets/images/pages/ofertas/oferta_imperdivel_03.webp" alt="celular-smartphone-galaxy-a05s">
                    <span class="oferta-desconto">-25%</span>
                    <p class="oferta-card-titulo">Celular Smartphone Galaxy A05s 4G Octacore 6Gb Ram 128Gb</p>
                    <p class="oferta-avaliacao">⭐⭐⭐⭐⭐ <span>(263)</span></p>
                    <p class="oferta-preco-antigo">R$ 1.199,90</p>
                    <p class="oferta-preco-novo">R$ 899,90</p>
                    <p class="oferta-preco-parcelado">10x de R$ 89,99</p>
                </div>
                <div>
                    <img class="oferta-img" src="assets/images/pages/ofertas/oferta_imperdivel_04.webp" alt="aparador-de-pelos-multigroom-7-em-1">
                    <span class="oferta-desconto">-35%</span>
                    <p class="oferta-card-titulo">Aparador De Pelos Multigroom 7 Em 1 Mg3911 Philips</p>
                    <p class="oferta-avaliacao">⭐⭐⭐⭐⭐ <span>(7)</span></p>
                    <p class="oferta-preco-antigo">R$ 229,90</p>
                    <p class="oferta-preco-novo">R$ 149,90</p>
                    <p class="oferta-preco-parcelado">10x de R$ 14,99</p>
                </div>
                <div>
                    <img class="oferta-img" src="assets/images/pages/ofertas/oferta_imperdivel_05.webp" alt="passadeira-a-vapor-lisser">
                    <span class="oferta-desconto">-33%</span>
                    <p class="oferta-card-titulo">Passadeira a Vapor Lisser VAP901 Cadence</p>
                    <p class="oferta-avaliacao">⭐⭐⭐⭐⭐ <span>(19)</span></p>
                    <p class="oferta-preco-antigo">R$ 149,90</p>
                    <p class="oferta-preco-novo">R$ 99,99</p>
                    <p class="oferta-preco-parcelado">10x de R$ 9,99 </p>
                </div>
                <div>
                    <img class="oferta-img" src="assets/images/pages/ofertas/oferta_imperdivel_06.webp" alt="liquidificador-philco-plq15a-turbo-1500w">
                    <span class="oferta-desconto">-33%</span>
                    <p class="oferta-card-titulo">Liquidificador Philco PLQ15A Turbo 1500W 3,1 Litros</p>
                    <p class="oferta-avaliacao">⭐⭐⭐⭐⭐ <span>(208)</span></p>
                    <p class="oferta-preco-antigo">R$ 299,90</p>
                    <p class="oferta-preco-novo">R$ 199,90</p>
                    <p class="oferta-preco-parcelado">10x de R$ 19,99</p>
                </div>
        </div>
      </div>
    </div>
  </div>
</div>